.ui-weight-container {
    position: relative;
}

.ui-weight-container li {
    position: relative;
    margin-bottom: 10px;

    padding-left: 20px;
}

.ui-weight-container li .delete {
    display: none;
    position: absolute;
    width: 12px;
    height: 12px;

    left: 0px;
    top: 4px;

    background: url(./delete.png) no-repeat;
    cursor: pointer;
}

.ui-weight-container li:hover .delete {
    display: inline;
}

.ui-weight-container .bar {
    position: absolute;
    height: 20px;
    top: 4px;
    background: #ccc;    
    border: 1px solid #bbb;
    cursor: col-resize;
    text-align: left;
    font-size: 100%;
    color: #333;
    line-height: 20px;
    padding-left: 5px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.ui-weight-container .label {
    padding-right: 10px;
    font-size: 150%;
}

.ui-weight-container .label:hover {
    outline: 1px solid yellow;
}

.ui-weight-container .label input {
    width: auto;
    border: 0;
    outline: 1px solid #ccc;
    padding-left: 4px;
}

.ui-weight-container .totals {
    margin-bottom: 10px;
    position: relative;
    font-weight: bold;
}

.ui-weight-container .totals .bar {
    cursor: default;
    background: 
}

.ui-weight-container .totals .overflow {
    position: absolute;
    right: 0px;
    width: 100px;
    background: #CC0000;    
    height: 20px; 
    
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ui-weight-container .warning { 
    color: red;
    text-align: center;
    position: absolute;
    top: -20px;
    width: 100%;
}
