#content {
    margin: 0 auto;
    width: 800px;
    padding: 30px;

    border: 1px solid #eee;

    margin-top: 20px;

    color: #333;
}

h2 {
    font-size: 167%;
    font-weight: bold;
    padding-bottom: 20px;
}

h1 {
    font-size: 197%;
    font-weight: bold;
    padding-bottom: 10px;

    color: #000;
}

.description {
    margin-bottom: 40px;    
}

.description p {
    font-size: 167%;
}

a {
    color: #333;
}

.buttons {
    margin-top: 30px;
}

input[type=submit] {
    padding: 5px 20px;
}

textarea {
    display: block;
    width: 400px;
    height: 100px;
    font-size: 127%;
    border: 1px solid #ccc;
    margin: 30px 0;
    padding: 5px;
}

textarea:hover {
    border: 1px solid #999;
}

.placeholder { color: #aaa; }
